@model VMBase
@foreach (User member in Model.Users)
{
    <div class="col-lg-3 col-md-6">
        <div class="team-item">
            <div class="team-img">
                <img src="~/Site/img/@(!File.Exists($"{@member.BannerPicture}") ? member.BannerPicture : "team-404.png")" alt="Team Image">
                @* <img src="~/img/@member.BannerPicture" alt="Team Image">             *@
            </div>
            <div class="team-text">
                <h2>@member.FullName</h2>
                <p>@member.UserTitle.UserTitle</p>
                <div class="team-social">
                    <a class="social-tw" href="https:\\@member.Twitter"><i class="fab fa-twitter"></i></a>
                    <a class="social-fb" href="https:\\@member.Facebook"><i class="fab fa-facebook-f"></i></a>
                    <a class="social-li" href="https:\\@member.LinkedIn"><i class="fab fa-linkedin-in"></i></a>
                    <a class="social-in" href="https:\\@member.Instagram"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
}